@import "../variables";

.page-selector {
  position: fixed;
  left: 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 10;

  @media (max-width: $mobile) {
    left: 8px;
  }

  div {
    background: $col-base-90;
    padding: 0;
    border: 0;
    margin-top: 12px;
    margin-left: 8px;
    margin-bottom: 11px;
    height: 1px;
    width: 32px;
    color: $col-base-90;
    transition: width ease-in-out 0.5s;
  }

  div.selected {
    width: 48px;
  }

  button.clickable {
    cursor: pointer;
  }
}