@import "../variables";

.page-selector {
  position: fixed;
  top: 50%;
  left: 24px;
  display: flex;
  flex-direction: column;

  button {
    background: transparent;
    border: solid 1px transparent;
    cursor: pointer;
    margin: 8px;
    border-radius: 16px;
    height: 32px;
    width: 32px;
  }

  button.selected {
    border: solid 1px $col-base-90;
  }
}