@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital@0;1&family=Exo&display=swap');

html {
  font-family: 'Exo', sans-serif;
}

h1 {
  font-family: 'Epilogue', sans-serif;
  font-style: italic;
}