// Colours
$col-base-1: #000000; // Main fonts, page borders, secondary buttons
$col-base-2: #9f9f9f; // First level pop-up borders
$col-base-3: #dbdbdb; // Bottom level background, text colour on col-base-1
$col-base-5: #e2e2e2; // First level pop-up background