.m-0 {
    margin: 0;
}

.h-100vh {
    height: 100vh;
}

.overflow-hidden {
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
}

#landing {
    background: #33ffc7;
}

#about {
    background: #338bff;
}

#dark-souls-checklist {
    background: #9c33ff;
}

#contact {
    background: #ff3358;
}