@import "styles/variables";
@import "styles/utils";

@import "styles/components/page-selector";

#landing {
    background: #33ffc7;
}

#about {
    background: #338bff;
}

#dark-souls-checklist {
    background: #9c33ff;
}

#contact {
    background: #ff3358;
}